.footerCustom {
  ul {
    list-style: none;
    li {
      color: #fff;
      display: grid;
      grid-template-columns: 30px auto;
      align-items: center;
      i {
        margin-right: 5px;
        text-align: center;
      }
      a {
        text-decoration: none;
        color: white;
      }
      &hover {
        cursor: pointer;
        opacity: 0.85;
        box-shadow: 3x 5x 6px black;
      }
    }
  }
}
